{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <h2>Stock Quote</h2>
    <div class="mb-3">
        <table class="table">
            <tr>
                <th>Symbol</th>
                <td>{{ stock.symbol }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ stock.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ stock.price | usd }}</td>
            </tr>
        </table>
    </div>
    <a href="/quote" class="btn btn-primary">Get Another Quote</a>
{% endblock %}
